<!--员工管理-->
<div class="wrapper">
  <ul nz-menu nzMode="inline" >
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="staffroster" nzSelected>
      <i nz-icon nzType="mail" ></i>
      <span>花名册</span>
    </li>
    <li nz-submenu nzTitle="合同管理" nzIcon="setting" class="wrapperlists">
      <ul>
        <li nz-menu-item class="wrapperlists" routerLink="staffcontract">合同管理</li>
        <li nz-menu-item class="wrapperlists">合同续签</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="异动变更" nzIcon="setting" class="wrapperlists">
      <ul>
        <li nz-menu-item class="wrapperlists">子栏目1</li>
        <li nz-menu-item class="wrapperlists">子栏目2</li>
      </ul>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
