<!--员工管理-->
<div class="wrapper">
  <ul nz-menu nzMode="inline" >
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="staffroster" nzSelected>
      <i nz-icon nzType="mail" ></i>
      <span>花名册</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="staffcontract" >
      <i nz-icon nzType="mail" ></i>
      <span>合同管理</span>
    </li>
    <li nz-submenu nzTitle="异动变更" nzIcon="setting" class="wrapperlists">
      <ul>
        <li nz-menu-item class="wrapperlists" routerLink="staffentry">入职</li>
        <li nz-menu-item class="wrapperlists" routerLink="staffformal">转正</li>
        <li nz-menu-item class="wrapperlists" routerLink="staffmove">调动</li>
        <li nz-menu-item class="wrapperlists" routerLink="staffleave">离职</li>
        <li nz-menu-item class="wrapperlists" routerLink="staffmovehistory">异动记录</li>
      </ul>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
