<body>
<nz-tabset nzType="card">
  <!-- 实习协议 -->
  <nz-tab nzTitle="实习协议" (nzSelect)="internship()">
      <!-- 合同状态开关 -->
      <nz-switch [ngModel]="true" nzCheckedChildren="失效" nzUnCheckedChildren="生效"></nz-switch>
      <!-- 名字搜索 -->
      <div class = "searchName">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="请搜索姓名" (input)="searchName($event)">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <!-- 合同管理表头 -->
      <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
          <thead>
            <tr>
              <th nzCustomFilter>
                姓名
              <nz-filter-trigger [(nzVisible)]="isSearch" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
              </th>
              <th>部门</th>
              <th>职位</th>
              <th>手机号码</th>
              <th>合同签订日期</th>
              <th>合同到期日期</th>
              <th>合同状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <!-- 合同管理表体 -->
          <tbody>
            <tr *ngFor="let data of nzTable.data">
              <td>{{ data.StaffName }}</td>
              <td >{{ data.DepartmentName }}</td>
              <td >{{ data.PositionName }}</td> 
              <td>{{data.StaffTelephone}}</td>
              <td>{{ data.SignTime}}</td>
              <td>{{ data.LoseEfficacyTime}}</td>
              <td></td>
              <td>
                  <button nz-button nzType="primary" (click)="renewContract(data)"> 续签</button>
                  <button nz-button nzType="primary" (click)="changeContract(data)"> 变更</button>
                  <button nz-button nzType="primary" (click)="overContract(data)"> 终止</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
  </nz-tab>
  <!-- 劳动合同 -->
  <nz-tab nzTitle="劳动合同" (nzSelect)="labor()">
    <!-- 合同状态开关 -->
    <nz-switch [ngModel]="true" nzCheckedChildren="失效" nzUnCheckedChildren="生效"></nz-switch>
    <!-- 名字搜索 -->
    <div class = "searchName">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请搜索姓名" (input)="searchName($event)">
      </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
    </div>
    <!-- 合同管理表头 -->
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
        <thead>
          <tr>
            <th nzCustomFilter>
              姓名
              <nz-filter-trigger [(nzVisible)]="isSearch" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>部门</th>
            <th>职位</th>
            <th>手机号码</th>
            <th>合同签订日期</th>
            <th>合同到期日期</th>
            <th>合同状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <!-- 合同管理表体 -->
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.StaffName }}</td>
            <td >{{ data.DepartmentName }}</td>
            <td >{{ data.PositionName }}</td> 
            <td>{{data.StaffTelephone}}</td>
            <td>{{ data.SignTime}}</td>
            <td>{{ data.LoseEfficacyTime}}</td>
            <td></td>
            <td>
                <button nz-button nzType="primary" (click)="renewContract(data)"> 续签</button>
                <button nz-button nzType="primary" (click)="changeContract(data)"> 变更</button>
                <button nz-button nzType="primary" (click)="overContract(data)"> 终止</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
</nz-tab>
<!-- 兼职协议 -->
<nz-tab nzTitle="兼职协议" (nzSelect)="partTime()">
  <!-- 合同状态开关 -->
  <nz-switch [ngModel]="true" nzCheckedChildren="失效" nzUnCheckedChildren="生效"></nz-switch>
  <!-- 名字搜索 -->
  <div class = "searchName">
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请搜索姓名" (input)="searchName($event)">
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
  </div>

  <!-- 合同管理表头 -->
  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th nzCustomFilter>
            姓名
            <nz-filter-trigger [(nzVisible)]="isSearch" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>部门</th>
          <th>职位</th>
          <th>手机号码</th>
          <th>合同签订日期</th>
          <th>合同到期日期</th>
          <th>合同状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <!-- 合同管理表体 -->
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>{{ data.StaffName }}</td>
          <td >{{ data.DepartmentName }}</td>
          <td >{{ data.PositionName }}</td> 
          <td>{{data.StaffTelephone}}</td>
          <td>{{ data.SignTime}}</td>
          <td>{{ data.LoseEfficacyTime}}</td>
          <td></td>
          <td>
              <button nz-button nzType="primary" (click)="renewContract(data)"> 续签</button>
              <button nz-button nzType="primary" (click)="changeContract(data)"> 变更</button>
              <button nz-button nzType="primary" (click)="overContract(data)"> 终止</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
</nz-tab>
</nz-tabset>

<!-- 下拉搜索 -->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="搜索名字" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="reset()">取消</button>
    </div>
  </div>
</nz-dropdown-menu>

</body>