<body>
    <div >
        <header class="header1">
            <b>基础信息</b>
            <button nz-button (click)="show()" *ngIf="isEdit">编辑</button>
            <div *ngIf="isButton">
                <button nz-button  (click)="ok()"> 确定 </button>
                <button  nz-button (click)="cancel()"> 取消</button>
            </div>
        </header>

        <div>  <hr/>  </div>
        <!-- 基础信息 -->
        <div  *ngIf="isShow">
            <article>
                <ul>
                    <li>姓名：{{this.mes.Name}}</li>
                    <li>证件号码：</li>
                    <li>出生日期：</li>
                    <li>年龄：</li>
                    <li>婚姻状况：</li>
                    <li>性别：</li>
                    <li>最高学历：</li>
                    <li>政治面貌：</li>
                    <li>民族：</li>
                    <li>户口类型：</li>
                    <li>户籍地址：</li>
                    <li>现居地址：</li>
                </ul>
            </article>
            <!-- 在职信息 -->
            <aside>
                <header>
                    <i nz-icon nzType="profile" nzTheme="outline"></i> <b>在职信息</b>
                </header>
                <ul>
                    <li>所属公司/中心：</li>
                    <li>部门：</li>
                    <li>职位：</li>
                    <li>工作性质:</li>
                    <li>员工状态：</li>
                    <li>开始工作时间：</li>
                    <li>入职日期：</li>
                    <li>工龄：</li>
                    <li>司龄：</li>
                    <li>转正日期：</li>
                    <li>合同年限：</li>
                    <li>合同结束日期：</li>
                    <li>岗位职责：</li>
                </ul>
            </aside>
            <!-- 联系信息 -->
            <main>
                <header>
                    <i nz-icon nzType="phone" nzTheme="outline"></i> <b>联系信息</b>
                </header>
                <ul>
                    <li>手机：</li>
                    <li>家庭电话：</li>
                    <li>公司邮箱：</li>
                    <li>个人邮箱</li>
                    <li>QQ：</li>
                    <li>微信：</li>
                    <li>紧急联系人：</li>
                </ul>
            </main>
        </div>
        <div *ngIf="isChange">
            <app-staff-basic-change></app-staff-basic-change>
        </div>


    </div>

    </body>
