<!--招聘管理-->
<div class="wrapper">
  <ul nz-menu nzMode="inline" >
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected routerLink="recruitdemand">
      <i nz-icon nzType="mail"></i>
      <span>招聘需求</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
      <i nz-icon nzType="mail"></i>
      <span>人才库</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
      <i nz-icon nzType="mail"></i>
      <span>面试邀约</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
      <i nz-icon nzType="mail"></i>
      <span>发放offer</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
      <i nz-icon nzType="mail"></i>
      <span>招聘申请</span>
    </li>
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" >
      <i nz-icon nzType="mail"></i>
      <span>招聘审批</span>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
