<body>

  <header>
  <button nz-button (click)="add()">新增员工</button>
  <button>导入</button>
  <button>导出</button>
  <button class="warnButton" nz-button nz-popover nzPopoverTitle="注意!" [nzPopoverContent]="attention" nzPopoverPlacement="bottom">
    <i nz-icon nzType="exclamation-circle" nzTheme="fill" class="warn"></i>
    员工提醒
  </button>

  <ng-template #attention class="attention">
    <div>
      <ul>
        <li>有<span>1</span>名员工合同即将到期，<a>立即处理</a></li>
        <li>有<span>0</span>名员即将结束试用期，<a>立即处理</a></li>
      </ul>
    </div>
  </ng-template>


  <button nz-button nz-dropdown [nzDropdownMenu]="menu">
      更多
   <i nz-icon nzType="down"></i>
   </button>
  <button class="classButton" (click)="isnav()">收起分类<i nz-icon nzType="up" nzTheme="outline" class="up" *ngIf="navflag"></i></button>

  <!-- 更多下拉 -->
  <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>menu4 1st menu item</li>
        <li nz-menu-item>menu4 2nd menu item</li>
        <li nz-menu-item>menu4 3rd menu item</li>
      </ul>
    </nz-dropdown-menu>

    <!-- 员工分类导航 -->
  <nav [hidden]="true">
      <ul>
          <li class="li1" (click)="tab2()"><i nz-icon nzType="team" nzTheme="outline"></i>
              <b>总员工 {{this.count.__zone_symbol__value.data}}</b>
          </li>
          <li class="li2" (click)="tab1()"><i nz-icon nzType="user" nzTheme="outline"></i>
              <b>正式 {{this.official.__zone_symbol__value.data}}</b>
              </li>
          <li class="li3" (click)="tab3()"><i nz-icon nzType="schedule" nzTheme="outline"> </i>
              <b>试用期 {{this.try.__zone_symbol__value.data}}</b>
          </li>
          <li class="li1" (click)="tab4()"><i nz-icon nzType="user-add" nzTheme="outline"></i>
              <b>待入职 {{this.wait.__zone_symbol__value.data}}</b>
          </li>
          <li class="li4" (click)="tab5()"><i nz-icon nzType="user-add" nzTheme="outline"></i>
              <b>实习期 {{this.practice.__zone_symbol__value.data}}</b>
          </li>
        <li class="li2" (click)="tab6()"><i nz-icon nzType="user-delete" nzTheme="outline"></i>
              <b>离职 {{this.leave.__zone_symbol__value.data}}</b>
        </li>
      </ul>
  </nav>
  </header>

  <main>
      <!-- 部门搜索 -->
     <div class="search">
         <div class = "department">
           <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="请搜索部门" (input)="searchDepartment($event)">
           </nz-input-group>
         <ng-template #suffixIconSearch>
           <i nz-icon nzType="search"></i>
         </ng-template>
         </div>
     </div>

     <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
         <!-- 表头 -->
      <thead>
        <tr>
          <th nzCustomFilter >
            姓名
            <nz-filter-trigger [(nzVisible)]="isname" [nzActive]="inputname.length > 0" [nzDropdownMenu]="menu1">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>部门</th>
          <th> 岗位 </th>
          <th> 证件号 </th>
          <th> 手机号 </th>
          <th>入职日期</th>
          <th> 性别 </th>
        </tr>
      </thead>
      <!-- 表体 -->
       <tbody>
       <tr *ngFor="let data of nzTable.data" >
         <td><a routerLink="/staff/employee" [queryParams]="data">{{ data.Name }}</a></td>
         <td *ngIf="data.Position!=null">{{ data.Position.Department.Name}}</td>
         <td *ngIf="data.Position==null"></td>
         <td *ngIf="data.Position!=null">{{data.Position.Name}}</td>
         <td *ngIf="data.Position==null"></td>
         <td>{{ data.IdCard }}</td>
         <td>{{ data.PhoneNumber }}</td>
         <td>{{ data.EntryTime }}</td>
         <td>{{ data.Gender }}</td>
       </tr>
       </tbody>
    </nz-table>

      <!-- 下拉名字搜索 -->
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="搜索名字" [(ngModel)]="inputname"/>
          <button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">
            搜索
          </button>
          <button nz-button nzSize="small" (click)="reset1()">取消</button>
        </div>
      </div>
    </nz-dropdown-menu>




  </main>


  </body>
