<div>
    <form nz-form >

        <nz-form-item>
          <nz-form-label [nzSm]="7">姓名</nz-form-label>
          <nz-form-control [nzSm]="12">
            <input nz-input />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="7">离职类型</nz-form-label>
          <nz-form-control [nzSm]="12">
            <input nz-input type="radio" name="active" value="主动离职">主动离职
            <input nz-input type="radio" name="overTime" value="合同到期">合同到期
            <input nz-input type="radio" move="auto" value="自离">自离
            <input nz-input type="radio" move="other" value="其他">其他
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="7">离职原因</nz-form-label>
          <nz-form-control [nzSm]="12">
            <textarea rows="4" nz-input></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="7">操作人</nz-form-label>
          <nz-form-control [nzSm]="12">
            <input nz-input />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="7">离职日期</nz-form-label>
          <nz-form-control [nzSm]="12">
            <input type="date" nz-input />
          </nz-form-control>
        </nz-form-item>
        
        <div class="button">
            <button nz-button nzType="primary" (click)='Onclick()'>提交</button> 
            <button  nz-button (click)="cancel()">取消</button>
        </div>
      </form>
</div>
