<div>

<form nz-form  >
    <nz-form-item>
      <nz-form-label [nzSm]="7">姓名</nz-form-label>
      <nz-form-control [nzSm]="12">
        <input nz-input type="text" placeholder="{{staff.Name}}"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">操作人</nz-form-label>
      <nz-form-control [nzSm]="12">
        <input nz-input type="text" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">转正日期</nz-form-label>
      <nz-form-control [nzSm]="12">
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  <button nz-button nzType="primary" (click)="uploader.click()"><i nz-icon nzType="upload" nzTheme="outline"></i>上传简历</button>
    <input type="file" [hidden] nz-input #uploader (change)="uploaderImage(uploader)"><br>
    <div class="button">
        <button nz-button nzType="primary" (click)='Onclick()'>提交</button>
        <button  nz-button (click)="cancel()">取消</button>
    </div>



  </form>

</div>
