<nz-layout>
<!--  <nz-header>-->
<!--  </nz-header>-->
  <nz-content>
    <div style="text-align: center;background-color: #4da2fd;">
      <h3 style="color: white"><b>招聘需求表</b></h3>
    </div>
    <div>
      <div><h3><b>基本信息</b></h3></div>
      <form nz-form [formGroup]="recruitData" (ngSubmit)="submitForm()">
      <div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">申请部门</nz-form-label>
              <nz-form-control >
                <nz-select ngModel="市场部" formControlName="UserName">
                  <nz-option nzValue="市场部" nzLabel="市场部"></nz-option>
<!--                  <nz-option nzValue="技术部" nzLabel="技术部"></nz-option>-->
<!--                  <nz-option nzValue="行政部" nzLabel="行政部"></nz-option>-->
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8" nzOffset="2">
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="email">申请时间</nz-form-label>
              <nz-form-control>
                <nz-date-picker formControlName="ApplyTime"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">招聘岗位</nz-form-label>
              <nz-form-control >
                <nz-select ngModel="UI" formControlName="Position">
                  <nz-option nzValue="UI" nzLabel="UI"></nz-option>
                  <nz-option nzValue="技术部" nzLabel="技术部"></nz-option>
                  <nz-option nzValue="行政部" nzLabel="行政部"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8" nzOffset="2">
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="email">招聘数量</nz-form-label>
              <nz-form-control [nzSpan]="14">
                    <nz-input-number [nzMin]="1" [nzMax]="999" [nzStep]="1" style="width: 200px" formControlName="ApplyNumber"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="5" nzOffset="1">
            <nz-form-item>
              <nz-form-label  nzFor="email">编制数量</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <nz-input-number [nzMin]="1" [nzMax]="999" [nzStep]="1" formControlName="FormationNumber"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>



        <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">在岗数量</nz-form-label>
            <nz-form-control >
              <nz-input-number [nzMin]="1" [nzMax]="999" [nzStep]="1" formControlName="OnNumber"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="10" nzOffset="3">
          <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="email">拟招岗位级别</nz-form-label>
            <nz-form-control >
              <nz-input-number [nzMin]="1" [nzMax]="999" [nzStep]="1" formControlName="ClassLevel"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">试用薪酬范围</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="TrialSalary"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="10" nzOffset="3">
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="email">转正薪酬范围</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="RegularSalary"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


        <div nz-row>
          <div nz-col nzSpan="9">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">招聘原因</nz-form-label>
              <nz-form-control >
                <nz-radio-group formControlName="Reason">
                  <label nz-radio nzValue="新增">新增</label>
                  <label nz-radio nzValue="替换">替换</label>
                  <label nz-radio nzValue="调岗">调岗</label>
                  <label nz-radio nzValue="其他">其他</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8" nzOffset="3">
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="email">招聘方式</nz-form-label>
              <nz-form-control >
                <nz-radio-group formControlName="ApplyMode">
                  <label nz-radio nzValue="校招">校招</label>
                  <label nz-radio nzValue="社招">社招</label>
                  <label nz-radio nzValue="猎头">猎头</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="email">原因说明</nz-form-label>
              <nz-form-control >
                  <textarea rows="4" nz-input formControlName="Remakes"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="email">参考专业</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="Major"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzFor="email">初试面试官</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="PreViewer"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8" nzOffset="3">
            <nz-form-item>
              <nz-form-label nzFor="email">复试面试官</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="ReViewer"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="12">-->
<!--            <nz-form-item>-->
<!--              <nz-form-label nzFor="email">工作职责</nz-form-label>-->
<!--              <nz-form-control >-->
<!--                <textarea rows="4" nz-input formControlName="operatingDuty"></textarea>-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
<!--          </div>-->
<!--        </div>-->

        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="email">招聘要求</nz-form-label>
              <nz-form-control >
                <textarea rows="4" nz-input formControlName="Requirements"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzFor="email">审批人姓名</nz-form-label>
              <nz-form-control >
                <input nz-input placeholder="请输入..." formControlName="ApprovalName"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="6" nzOffset="10">
              <button nz-button nzType="default">取消</button>
              <button nz-button nzType="primary" style="margin-left: 20px">提交</button>
          </div>
        </div>

      </div>
      </form>
    </div>


  </nz-content>
</nz-layout>
