*{
    padding:0;
    margin:0;
}
ul{
    li{
        list-style:none;
    }
}
article{
  width:868px;
  background-color: white !important;
  font-size:14px;
}
form{
  display:flex;
  flex-wrap: wrap;
     nz-form-item{
         width:220px;
         height:36px;
         line-height:50px;
         margin:0 107px;
         display: flex;
      }
 }
aside,main{
     margin-top:40px;
        i{
            color:#19AA8D;
            margin-right:5px;
        }
 }
[nz-button] {
  margin-bottom: 12px;
}
nz-button-group {
  margin: 0 auto;
}
.ant-btn-group ::ng-deep > .ant-btn:last-child:not(:first-child){
  padding: 5px 24px 27px 30px;
}
.ant-btn-group ::ng-deep > .ant-btn:first-child:not(:last-child){
  padding: 5px 24px 27px 30px;
}
