<article>
    <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >姓名</nz-form-label>
          <nz-form-control [nzSpan]="22">
            <input nz-input type="text">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="8" >毕业时间</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="date">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >性别</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >籍贯</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >身份证号码</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >毕业院校</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >生日</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >文化程度</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >年龄</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >所学专业</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >政治面貌</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
    </form>
  
</article>
<!-- 在职信息 -->
<aside>
    <header>
        <i nz-icon nzType="profile" nzTheme="outline"></i> <b>在职信息</b>
    </header>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="8" >部门</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >鹏业工龄</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >岗位</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >职业工龄</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >岗位类型</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >合同类型</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >用工形式</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >转正时间</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="date">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >入职时间</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="date">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >试用期起</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input  type="date">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >实习协议</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >试用期止</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input  type="date">
            </nz-form-control>
          </nz-form-item >
    </form>
   
</aside>
<!-- 联系信息 -->
<main>
    <header>
        <i nz-icon nzType="phone" nzTheme="outline"></i> <b>联系信息</b>
    </header>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="8" >联系电话</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >身份证地址</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >紧急联系人</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >现住地址</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="8" >紧急联系人电话</nz-form-label>
            <nz-form-control [nzSpan]="22">
              <input nz-input type="text">
            </nz-form-control>
          </nz-form-item >
    </form>
</main>
