<!--header路由中心，routerlink配置路由切换-->
<!--增加一级路由在approuter注册，二级路由同级页面新增-->
<py-container>
  <py-container-header-content>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item ><a routerLink="/home" routerLinkActive="active">工作台</a></li>
        <li nz-menu-item ><a routerLink="/organization" routerLinkActive="active">组织管理</a></li>
        <li nz-menu-item ><a routerLink="/recruit/recruitManagement" routerLinkActive="active">招聘管理</a></li>
        <li nz-menu-item ><a routerLink="/training" routerLinkActive="active">培训管理</a></li>
        <li nz-menu-item ><a routerLink="/staff/staffroster" routerLinkActive="active">员工管理</a></li>
        <li nz-menu-item ><a routerLink="/awardpunish" routerLinkActive="active">奖惩管理</a></li>
        <li nz-menu-item ><a routerLink="/statement" routerLinkActive="active">报表中心</a></li>
        <li nz-menu-item ><a routerLink="" routerLinkActive="active">系统管理</a></li>
      </ul>
  </py-container-header-content>
</py-container>
<router-outlet></router-outlet>
