<form nz-form [formGroup]="formGroup">
    <nz-form-item>
      <nz-form-label [nzSm]="7">姓名</nz-form-label>
      <p>{{this.staffname}}</p>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">调动类型</nz-form-label>
      <nz-form-control [nzSm]="12">
        <nz-radio-group [(ngModel)]="radioValue">
          <label nz-radio nzValue="1">升职</label>
          <label nz-radio nzValue="2">降职</label>
          <label nz-radio nzValue="3">调岗</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">调动日期</nz-form-label>
      <nz-form-control [nzSm]="12">
        <input type="date" nz-input  formControlName="movedate" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">调动部门</nz-form-label>
      <nz-form-control [nzSm]="12">
        <nz-cascader [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)"> </nz-cascader>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">调动职位</nz-form-label>
      <nz-form-control [nzSm]="12">
        <input nz-input  formControlName="moveposition" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7">备注</nz-form-label>
      <nz-form-control [nzSm]="12">
        <textarea rows="4" nz-input formControlName="moveremark" ></textarea>
      </nz-form-control>
    </nz-form-item>
    <div class="button">
      <button nz-button nzType="primary" (click)='Onclick()'>提交</button>
      <button  nz-button (click)="cancel()">取消</button>
  </div>
  </form>

