<div id="addResume">
  <nz-layout>
    <nz-header>
<!--      <div>-->
<!--        <nz-breadcrumb>-->
<!--          <nz-breadcrumb-item>-->
<!--            <a [routerLink]="['../']">人才库</a>-->
<!--          </nz-breadcrumb-item>-->
<!--          <nz-breadcrumb-item>-->
<!--            新增简历-->
<!--          </nz-breadcrumb-item>-->
<!--        </nz-breadcrumb>-->
<!--      </div>-->
    </nz-header>
    <nz-content>
      <div class="head1">
        <h3 ><strong>人才库录入</strong> </h3>
      </div>



<!--   基本信息-->

        <div style="width: 100%;">
          <div nz-row>
            <div nz-col nzSpan="11">
              <nz-form-item>
                <nz-form-label [nzSpan]="" nzFor="email" style="margin-right: 20px">选择招聘来源渠道</nz-form-label>
                <nz-form-control [nzSpan]="">
                  <nz-select ngModel="Boos直聘" formControlName="ChannelId">
                    <nz-option nzValue="Boos直聘" nzLabel="Boos直聘"></nz-option>
                    <nz-option nzValue="智联招聘" nzLabel="智联招聘"></nz-option>
                    <nz-option nzValue="58同城" nzLabel="58同城"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>


            <div nz-col nzSpan="11" nzOffset="2">
              <nz-form-item>
                <nz-form-label [nzSpan]="" nzFor="email" style="margin-right: 20px">选择职位</nz-form-label>
                <nz-form-control [nzSpan]="">
                  <nz-select ngModel="市场部" formControlName="PositionId">
                    <nz-option nzValue="市场部" nzLabel="市场部"></nz-option>
                    <nz-option nzValue="技术部" nzLabel="技术部"></nz-option>
                    <nz-option nzValue="行政部" nzLabel="行政部"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>


          </div>
          <div class="head2" nz-row style="margin-top: 20px">
            <h3 ><strong>基本信息</strong> </h3>
          </div>



          <div nz-row>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">姓名</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input nz-input name="name" type="text" formControlName="Name">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row style="margin-top: 20px">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">电话</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input nz-input name="name" type="text" formControlName="PhoneNumber">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row style="margin-top: 20px">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">邮箱</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input nz-input name="name" type="email" formControlName="PhoneNumber">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>




          <div nz-row style="margin-top: 20px">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">学校</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input nz-input name="name" type="text" formControlName="School">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
<!--            <div nz-col nzSpan="8">-->
<!--              <nz-form-item>-->
<!--                <nz-form-label [nzSpan]="6" nzFor="email">证件号码</nz-form-label>-->
<!--                <nz-form-control [nzSpan]="14">-->
<!--                  <input nz-input name="name" type="text" formControlName="certificateNum">-->
<!--                </nz-form-control>-->
<!--              </nz-form-item>-->
<!--            </div>-->
          <div nz-row style="margin-top: 20px">
            <div nz-col nzSpan="12" nzOffset="">
              <nz-form-item>
                <nz-form-label [nzSpan]="" nzFor="email" style="">简历放到</nz-form-label>
                <nz-form-control [nzSpan]="">
                  <nz-select ngModel="初试" formControlName="RecruitStageId">
                    <nz-option nzValue="初试" nzLabel="初试"></nz-option>
                    <nz-option nzValue="面试" nzLabel="面试"></nz-option>
                    <nz-option nzValue="通过" nzLabel="通过"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
           </div>

          <div nz-row style="margin-top: 20px">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label  nzFor="email">招聘方式</nz-form-label>
                <nz-form-control >
                  <nz-radio-group formControlName="RecruitForm">
                    <label nz-radio nzValue="校招">校招</label>
                    <label nz-radio nzValue="社招">社招</label>
                    <label nz-radio nzValue="猎头">猎头</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="email" style="">是否内推</nz-form-label>
                <nz-form-control >
                  <nz-radio-group formControlName="Recommend">
                    <label nz-radio nzValue="是">是</label>
                    <label nz-radio nzValue="否">否</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div style="margin-top: 20px;margin-bottom: 30px">
            <nz-upload
              nzAction="../uploads"
              [nzHeaders]="{ authorization: 'authorization-text' }"
              (nzChange)="handleChange($event)"
            >
              <button nz-button><i nz-icon nzType="upload"></i>上传简历</button>
            </nz-upload>
          </div>
        </div>
        <button nz-button nzType="primary">提交</button>
    </nz-content>
  </nz-layout>
</div>

