<body>

    <header>
      <button class="whiteButton">返回</button>
      <div class="msg">
      <nz-avatar nzIcon="user" [nzSize]="78"  nzSrc="../../../assets/images/pic1.jpg"></nz-avatar>
      <article *ngIf="this.mes">
        <div> {{this.mes.Name}} <span>在职</span> </div>
         <hr/>
        <ul>
          <li><i nz-icon [nzType]="'apartment'" nzTheme="outline"></i>部门：</li>
          <li><i nz-icon [nzType]="'coffee'"></i>职位：</li>
          <li><i nz-icon [nzType]="'calendar'"></i>入职日期：{{this.mes.EntryTime}}</li>
          <li><i nz-icon [nzType]="'history'"></i>司龄：{{this.mes.Age}}</li>
        </ul>
      </article>
      </div>
      </header>
    <main>
      <div class="card-container" >
        <nz-tabset class="tab" *ngIf="this.mes">
            <nz-tab nzTitle="基础信息">
              <div> <app-staff-basic-infor [mes]="this.mes"></app-staff-basic-infor> </div>
            </nz-tab>
            <nz-tab nzTitle="个人经历">
              <app-staff-experience></app-staff-experience>
            </nz-tab>
            <nz-tab nzTitle="合同管理">
              <app-staff-contract-manage></app-staff-contract-manage>
            </nz-tab>
            <nz-tab nzTitle="员工证书">
              <app-staff-certificate></app-staff-certificate>
            </nz-tab>
            <nz-tab nzTitle="成长记录">
              <app-staff-grow-record></app-staff-grow-record>
            </nz-tab>

        </nz-tabset>
      </div>
    </main>

    </body>
