<body>
    <nz-tabset nzType="card">
<nz-tab nzTitle="合同续签">
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          姓名
          <nz-filter-trigger [(nzVisible)]="isSearch" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>部门</th>
        <th>职位</th>
        <th>手机号码</th>
        <th>续签合同类型</th>
        <th>开始日期</th>
        <th>结束日期</th>
        <th>签署日期</th>
        <th>操作人</th>
      </tr>
    </thead>
    <!-- 合同管理表体 -->
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.department }}</td>
        <td>{{ data.job }}</td>
        <td>{{data.phone}}</td>
        <td>{{ data.newType}}</td>
        <td>{{ data.start }}</td>
        <td>{{ data.end }}</td>
        <td>{{ data.date }}</td>
        <td>{{ data.operator }}</td>
      </tr>
    </tbody>
  </nz-table>

  <!-- 下拉搜索 -->
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="搜索名字" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          搜索
        </button>
        <button nz-button nzSize="small" (click)="reset()">取消</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-tab>
</nz-tabset>
</body>
