<!--组织管理-->
<div class="wrapper">
  <ul nz-menu nzMode="inline" >
    <li nz-submenu nzTitle="组织管理" nzIcon="appstore" class="wrapperlists" nzOpen="true">
      <ul>
        <li nz-menu-item class="wrapperlists" nzSelected routerLink="organizeunit">单位管理</li>
        <li nz-menu-item class="wrapperlists" routerLink="organizedepartment">部门设置</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="职位管理" nzIcon="setting" class="wrapperlists">
      <ul>
        <li nz-menu-item class="wrapperlists">子栏目1</li>
        <li nz-menu-item class="wrapperlists">子栏目2</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="编制管理" nzIcon="setting" class="wrapperlists">
      <ul>
        <li nz-menu-item class="wrapperlists">子栏目1</li>
        <li nz-menu-item class="wrapperlists">子栏目2</li>
      </ul>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
