<body>
    <header >
        <nz-tabset nzType="card" >
          <!-- 异动记录 -->
            <nz-tab nzTitle="异动记录">
               <nav>
                   <button nz-button  nzType="default" nz-dropdown [nzDropdownMenu]="outmenu">
                       导出
                       <i nz-icon nzType="down"></i>
                    </button>
               </nav>
               
               <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" >
                <!-- 异动记录表头 -->
                <thead>
                  <tr>
                    <th>异动时间</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>职位</th>
                    <th>手机号码</th>
                    <th>异动类型</th>
                    <th>操作人</th>
                  </tr>
                </thead>
                <!-- 异动记录表体 -->
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable.data">
                    <td></td>
                    <td>{{ data.Name }}</td>
                    <td *ngIf="data.Position!=null">{{ data.Position.Department.Name }}</td>
                    <td *ngIf="data.Position==null"></td>
                    <td *ngIf="data.Position!=null">{{ data.Position.Name }}</td>
                    <td *ngIf="data.Position==null"></td>
                    <td>{{ data.PhoneNumber }}</td>
                    <td>{{ data.moveType }}</td>
                    <td>{{data.operator}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-tab>
          </nz-tabset>

          <!-- 下拉导出 -->
          <nz-dropdown-menu #outmenu="nzDropdownMenu">
            <ul nz-menu class="outdrop">
              <li nz-menu-item>
                <span>导出全部</span>
              </li>
              <li nz-menu-item>
                <span>
                  导出部分
                </span>
              </li>
            </ul>
          </nz-dropdown-menu>
    </header>
</body>


